{namespace solr=Tx_Solr_ViewHelpers}
<f:if condition="{settings.search.faceting.enabled}">
	<div id="tx-solr-faceting">
		<h3><f:translate key="faceting_narrowSearch" /></h3>
		<!-- available facets -->
		<div id="tx-solr-facets-available">
			<ul class="facets">
				<f:for each="{settings.search.faceting.facets}" as="facetConfiguration" key="facetName">
					<solr:facetData name="{facetName}" configuration="{facetConfiguration}" facetOptionArrayName="facetOptions" facetRootlineArrayName="facetRootline">
						<li class="facet facet-{facetName}">
							<h5>{facetConfiguration.label}</h5>
							<f:for each="{facetRootline}" as="facetRootlineElement">
								<a href="{facetRootlineElement.url}">{facetRootlineElement.name}</a> &gt;
							</f:for>
							<ul>
								<f:for each="{facetOptions}" as="facetOption">
									<li class="{facetOption.hiddenCssClass}">
										<a href="{facetOption.url}">{facetOption.name} ({facetOption.count})</a>
									</li>
								</f:for>
								<f:if condition="{f:count(subject='{facetOptions}')} > {settings.search.faceting.limit}">
									<li><a href="#" class="tx-solr-facet-show-all"><f:translate key="faceting_showMore" /></a></li>
								</f:if>
							</ul>
						</li>
					</solr:facetData>
				</f:for>
			</ul>
		</div>
	</div>
</f:if>
