{namespace solr=Tx_Solr_ViewHelpers}
<f:if condition="{settings.search.faceting.enabled}">
	<div id="tx-solr-faceting">
		<h3><f:translate key="faceting_narrowSearch" /></h3>
		<!-- used facets -->
		<f:if condition="{solr:usedFacets()}">
			<div id="tx-solr-facets-in-use">
				<h4><f:translate key="faceting_resultsNarrowedBy" /></h4>
				<ul>
					<f:for each="{solr:usedFacets()}" as="facet">
						<li><a href="{facet.removalUrl}">{facet.text}</a></li>
					</f:for>
				</ul>
			</div>
		</f:if>
		<!-- ###USED_FACETS### end -->

		<!-- available facets -->
		<div id="tx-solr-facets-available">
			<h4><f:translate key="faceting_narrowSearch" /></h4>
			<ul class="facets">
				<f:for each="{settings.search.faceting.facets}" as="facetConfiguration" key="facetName">
					<f:if condition="{solr:facetNotEmpty(name='{facetName}')}">
						<li class="facet facet-###FACET.name###">
							<h5>{facetConfiguration.label}</h5>
							<ul>
								<f:for each="{solr:facetData(name='{facetName}' configuration='{facetConfiguration}')}" as="facetData">
									<li class="{facetData.hiddenCssClass}">
										<a href="{facetData.url}">{facetData.name} ({facetData.count})</a>
									</li>
								</f:for>
								<f:if condition="{f:count(subject='{solr:facetData(name=\'{facetName}\' configuration=\'{facetConfiguration}\')}')} > {settings.search.faceting.limit}">
									<li><a href="#" class="tx-solr-facet-show-all"><f:translate key="faceting_showMore" /></a></li>
								</f:if>
							</ul>
						</li>
					</f:if>
				</f:for>
			</ul>
		</div>
	</di
	v>
</f:if>
